@import "../src/platypicker.css";

:root {
    font-family: Inter, system-ui, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";

    @supports (font-variation-settings: normal) {
        & {
            font-family: InterVariable, sans-serif;
        }
    }
}